# secrets
.env
*.pem
*.key

# python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# dbt
transform/dbt/target/
transform/dbt/dbt_packages/
transform/dbt/logs/

# airflow / docker runtime
logs/
airflow.db

# os / editor
.DS_Store
Thumbs.db
